{% extends "dashboardapp/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-8 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'images/logo.svg' %}" alt="logo">
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">New mentor account creation panel</h6>
              <form class="pt-3" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Username</label>
                  {% render_field form.username type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="ramziddin_mentor" %}
                </div>
                <div class="form-group">
                  <label for="">Email</label>
                  {% render_field form.email type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="your@gmail.com" %}
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  {% render_field form.password1 type="password" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="********" %}
                </div>
                <div class="form-group">
                    <label for="">Confirm password</label>
                    {% render_field form.password2 type="password" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="********" %}
                  </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">Create account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  {% endblock %}